div {
  box-sizing: border-box;
  background-color: yellow;
  font-size: 32px;

  /* Content */
  width: 500px;
  height: 500px;

  /* Padding (espaçamento interno da caixa) */
  padding: 25px;

  /* Border (borda da nossa caixa) */
  border: 32px dashed red;

  /* Margin (espaçamento/posicionamento externo da caixa) */
  margin: 0 auto;
}